header
{
	background-color: brown;
	padding:10px;
	margin: 0px;
	text-align: center;
}

footer
{
	background-color: brown;
	padding:1px;
	margin: 0px;
	text-align: center;
	font-weight: bolder;
	font-size: xx-large;
	color: #FFFFFF;
	line-height: 0.1;
	clear: both;
}

section
{
	display: table;
	width: 100%;
	height: auto;
	text-align: center;
}


section.zhuye{background-image: url(../img/xkbj.jpg);background-attachment: fixed;background-repeat: none}
section.juanwei{background-image: url(../img/hsbj01.jpeg);background-attachment: fixed;background-repeat: none}
section.yiyu{background-image: url(../img/xkbj.jpg);background-attachment: fixed;background-repeat: none}

h1
{
	font-weight: bold;
	padding: 5px;
	line-height: 0.5;
	font-size: xx-large;
}

h2
{
	font-size: large;
	line-height: 0.5;
}

.title
{
	display:block;
	text-align: center;
	color: #FFFFFF;	
}

p{	text-indent: 2em;}

.main
{
	display: block;
	text-align: left;
	color: #FFFFFF;	
	clear: both;
	margin: auto auto 3% auto;
	max-width: 50%;
}
#table{display: table;padding: 3%;}
#tablerow{display: table-row;width: 80%;}
#left
{
	display: table-cell;
	width: 40%;
	padding: 1%;
	height: auto;
	border: 1px solid #BEBEBE;
	background-color: #FFFFFF;
	text-align: left;
	filter: progid:DXImageTransform.Microsoft.alpha(opacity=0.7);
	opacity: 0.7;
}

#right
{
	display: table-cell;
	width: 40%;
	padding: 1%;
	height: auto;
	border: 1px solid #BEBEBE;
	background-color: #FFFFFF;
	text-align: left;
	filter: progid:DXImageTransform.Microsoft.alpha(opacity=0.7);
	opacity: 0.7;
	clear: both;
}

nav ul
{
	background-color: #BEBEBE;
	list-style-type: none;
	margin: 0px;
	padding: 10px 0px;
	border-bottom:1px solid #CC3333;
	text-align: center;
}

nav ul li
{
	display: inline;
	text-align: center;
}

nav a
{
	color: #FFFFFF;	
	text-decoration: none;
	padding: 10px 3%;
	margin: 0;
	font-weight: bold;
	font-size: x-large;
}
nav ul li a:hover,nav ul li a:active{background-color:#CC3333 ;}/*鼠标移动在连接上*/

#fenlei ul
{
	float: left;
	position: fixed;
	list-style-type: none;
	line-height: 2;
	padding: 10px 0px;
	text-align: center;
	z-index: 10;
}

#fenlei a
{
	color: #FFFFFF;	
	text-decoration: none;
}
#fenlei ul li a:hover,#fenlei ul li a:active{background-color:#CC3333 ;padding: 0px 0px;}/*鼠标移动在连接上*/

.box{width: 1200px}
.tupian{height: 550px;position: relative;}
.tupian ul{text-decoration: noen;list-style-type: none;}
.tupian li
{
	position: absolute;
	top: 0;
	left: 200px;
}
.tupian li img
{
	width: 600px;
	height: 400px;
}

.jiantou{opacity: 0;}
.jiantou a
{
	width: 70px;
	height: 70px;
	display: block;
	position: absolute;
	top: 32%;
	z-index: 100;
}
.jiantou .prev{left: 90px;}
.jiantou .next{right: 10px;}

.comment{width: 800px;position: relative;left: 17%;}
